@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Geist", system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #d9d9d9;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}

.app-button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  cursor: pointer;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.app-input {
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: "Geist", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.project-card {
  position: relative;
}

.project-card::before {
  height: 5px;
  width: 5px;
  background-color: #aeaeae;
  content: "";
  position: absolute;
  top: 0;
  left: calc(100% + 0.5px);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
